<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.position.positionSquareService.mapper.ClientMapper">
	<resultMap id="clientMap" type="map">
		<result property="id" column="ID" />
		<result property="name" column="CLIENT_NAME" />
		<result property="pan" column="PAN" />
	</resultMap>
	<resultMap id="projectMap" type="map">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="state" column="CURRENT_STATE" />
		<result property="projectStart"
			column="ESTIMATED_PROJECT_START" />
		<result property="projectEnd" column="ESTIMATED_PROJECT_END" />
		<result property="createdTime" column="CREATED_TS" />
	</resultMap>

	<resultMap id="taskMap" type="map">
		<result property="id" column="ID" />
		<result property="name" column="TASK_NAME" />
		<result property="description" column="TASK_DESCRIPTION" />
		<result property="duration" column="TASK_DURATION_HRS" />
		<result property="startDate" column="TASK_START" />
		<result property="endDate" column="TASK_END" />
		<result property="status" column="TASK_STATUS" />
		<result property="createdTime" column="CREATED_TS" />
		<result property="progress" column="PROGRESS" />
	</resultMap>

	<select id="getClients" resultMap="clientMap">
		SELECT * FROM CLIENT;
	</select>

	<select id="getProjects" resultMap="projectMap">
		SELECT
		ID,NAME,DESCRIPTION,CURRENT_STATE,ESTIMATED_PROJECT_START,ESTIMATED_PROJECT_END,
		CREATED_TS
		FROM PROJECT p
		<where>
			p.CLIENT_ID=#{clientId} ;
		</where>
	</select>

	<select id="getTasks" resultMap="taskMap">
		SELECT ID,TASK_DESCRIPTION,TASK_NAME,TASK_DURATION_HRS,TASK_START,TASK_END,TASK_STATUS,CREATED_TS,PROGRESS   FROM TASKS t 
		<where>
			t.PROJECT_ID=#{projectId} ;
		</where>
	</select>

</mapper>
